:root {
    --color-blanco: #f5f5f5;
    --color-gris-claro: #fdffef;
    --color-gris-medio: #b4b2b2;
    --color-gris-oscuro: #0019f8;
    --color-rojo: #300496;
    --color-rojo-oscuro: #6f49f8;
}

body {
    min-height: 100vh;
    background: linear-gradient(to bottom, #000000 0%, #181a2b 80%, #020129 100%);
    overflow: hidden;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
/* Cohete */
.cohete {
    position: absolute;
    height: 187px; /* Ajusta el tamaño del cohete */
    top: 50%;
    width: 84px;
    left: calc(50% - 60px);
}
.cohete .cuerpo-cohete {
    width: 80px;
    left: calc(50% - 50px);
    animation: rebote 0.6s infinite;
}
.cohete .cuerpo {
    background-color: var(--color-gris-claro);
    height: 180px;
    left: calc(50% - 50px);
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    border-top: 5px solid var(--color-blanco);
}
.cohete .cuerpo-cohete:before {
    content: '';
    position: absolute;
    left: calc(50% - 24px);
    width: 48px;
    height: 13px;
    background-color: var(--color-gris-oscuro);
    bottom: -13px;
    border-bottom-right-radius: 60%;
    border-bottom-left-radius: 60%;
}
.cohete .ventana {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 45%;
    background-color: var(--color-rojo-oscuro);
    left: calc(50% - 25px);
    top: 40px;
    border: 5px solid var(--color-gris-medio);
}
.cohete .aleta {
    position: absolute;
    z-index: -100;
    height: 65px;
    width: 50px;
    background-color: var(--color-rojo-oscuro);
}
.cohete .aleta-izquierda {
    left: -25px;
    top: calc(100% - 65px);
    border-top-left-radius: 60%;
    border-bottom-left-radius: 20%;
}
.cohete .aleta-derecha {
    right: -25px;
    top: calc(100% - 65px);
    border-top-right-radius: 60%;
    border-bottom-right-radius: 20%;
}
.cohete .llama {
    position: absolute;
    top: 90%;
    width: 28px;
    background: linear-gradient( to  bottom, transparent 10%, var(--color-blanco) 40%, transparent 80%, transparent 100%);
    height: 150px;
    border-radius: 0 0px 40px 40px;
    left: calc(50% - 16px);
    animation: llama 0.12s infinite;
}


.cohete .humo {
    position: absolute;
    top: 38px; /* Alinea el humo con la base del cohete */
    left: 50%;
    transform: translateX(-50%); /* Centra el humo en el medio del cohete */
    width: 400px; /* Ajusta el tamaño del área de humo */
    height: 333px; /* Ajusta el tamaño del área de humo */
    overflow: hidden; /* Oculta el humo que se sale del contenedor */
    pointer-events: none; /* Asegura que el humo no interfiera con otros elementos */
    z-index: 1; /* Asegura que el humo esté por debajo de la llama si es necesario */
}
.cohete .humo li {
    list-style: none;
    position: absolute;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 70%);
    opacity: 0.6;
    animation: humoAnim 4s infinite;
    z-index: -1; /* Asegura que las partículas no cubran otros elementos */
}

.cohete .humo li:nth-child(1) {
    width: 200px;
    height: 200px;
    left: 50%;
    bottom: 0; /* Alinea la base del humo con la base del contenedor */
    transform: translateX(-50%);
}
.cohete .humo li:nth-child(2) {
    width: 150px;
    height: 150px;
    left: 40%;
    bottom: 0;
    transform: translateX(-50%);
}
.cohete .humo li:nth-child(3) {
    width: 120px;
    height: 120px;
    left: 60%;
    bottom: 0;
    transform: translateX(-50%);
}
.cohete .humo li:nth-child(4) {
    width: 100px;
    height: 100px;
    left: 70%;
    bottom: 0;
    transform: translateX(-50%);
}
.cohete .humo li:nth-child(5) {
    width: 80px;
    height: 80px;
    left: 80%;
    bottom: 0;
    transform: translateX(-50%);
}


.cohete .humo li:nth-child(6) {
    width: 200px;
    height: 200px;
    left: -60px;
    top: 270px;
    animation: humo 6s infinite ease-in-out;
}
.cohete .humo li:nth-child(7) {
    width: 100px;
    height: 100px;
    left: -100px;
    top: 320px;
}
.cohete .humo li:nth-child(8) {
    width: 110px;
    height: 110px;
    left: 60px;
    top: 310px;
}
.cohete .humo li:nth-child(9) {
    width: 90px;
    height: 90px;
    left: 130px;
    top: 390px;
    animation: humo 6s infinite ease-in-out;
}


/* Estrellas */
.estrella li {
    list-style: none;
    position: absolute;
    animation: caida 5s linear infinite, parpadeo 2s infinite;
    opacity: 0;
}

.estrella li:before,
.estrella li:after {
    content: '';
    position: absolute;
    background-color: var(--color-blanco);
}

.estrella li:before {
    width: 10px;
    height: 2px;
    border-radius: 50%;
}

.estrella li:after {
    height: 8px;
    width: 2px;
    left: 4px;
    top: -3px;
}

.estrella li:first-child {
    top: -30px;
    left: -210px;
    animation: caida 7s linear infinite, parpadeo 2.5s infinite;
}

.estrella li:nth-child(2) {
    top: 0;
    left: 60px;
    animation: caida 6s linear infinite, parpadeo 3s infinite;
}

.estrella li:nth-child(2):before {
    height: 1px;
    width: 5px;
}

.estrella li:nth-child(2):after {
    width: 1px;
    height: 5px;
    top: -2px;
    left: 2px;
}

.estrella li:nth-child(3) {
    left: 120px;
    top: 220px;
    animation: caida 8s linear infinite, parpadeo 3s infinite, rotacion 8s linear infinite;
}

.estrella li:nth-child(4) {
    left: -100px;
    top: 200px;
    animation: caida 5s linear infinite, parpadeo 3.5s infinite;
}

.estrella li:nth-child(5) {
    left: 170px;
    top: 100px;
    animation: caida 6s linear infinite, parpadeo 7s infinite;
}

.estrella li:nth-child(6) {
    top: 87px;
    left: -79px;
    animation: caida 7s linear infinite, parpadeo 3s infinite;
}

.estrella li:nth-child(6):before {
    height: 1px;
    width: 5px;
}

.estrella li:nth-child(6):after {
    width: 1px;
    height: 5px;
    top: -2px;
    left: 2px;
}

/* Nuevas estrellas */
.estrella li:nth-child(7) {
    top: 50px;
    left: -150px;
    animation: caida 5.5s linear infinite, parpadeo 6s infinite;
}

.estrella li:nth-child(8) {
    top: 120px;
    left: 200px;
    animation: caida 6.5s linear infinite, parpadeo 3.3s infinite;
}

.estrella li:nth-child(9) {
    top: 300px;
    left: 150px;
    animation: caida 7.5s linear infinite, parpadeo 1.7s infinite;
}

.estrella li:nth-child(10) {
    top: 400px;
    left: -180px;
    animation: caida 8.5s linear infinite, parpadeo 4s infinite;
}

.estrella li:nth-child(11) {
    top: 200px;
    left: 80px;
    animation: caida 5.2s linear infinite, parpadeo 3.1s infinite;
}

.estrella li:nth-child(12) {
    top: 100px;
    left: -100px;
    animation: caida 6.8s linear infinite, parpadeo 2.6s infinite;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; /* Asegura que el efecto de partículas esté detrás del contenido */
}


/* Animaciones */
@keyframes humoAnim {
    0% {
        transform: translateY(0) scale(0.5); /* Empieza desde la base del cohete */
        opacity: 0.6;
    }
    50% {
        transform: translateY(100px) scale(1); /* Sube 100px desde la base */
        opacity: 0.4;
    }
    100% {
        transform: translateY(200px) scale(0.5); /* Sube 200px desde la base */
        opacity: 0;
    }
}


@keyframes llama {
    0% {
        background: linear-gradient(to bottom, transparent 50%, rgba(255, 255, 0, 0.144) 100%);
    }
    50% {
        background: linear-gradient(to bottom, transparent 8%, rgba(255, 255, 0, 0) 80%);
    }
    75% {
        background: linear-gradient(to bottom, transparent 12%, rgba(255, 0, 0, 0.205) 20%);
    }
  
    }


@keyframes humo2 {
    50% {
        background-color: transparent;
        transform: scale(1.4);
    }
    100% {
        background-color: transparent;
        transform: scale(0.8);
    }
}

@keyframes parpadeo {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes rotacion {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes caida {
    0% {
        transform: translateY(-10vh);
    }
    100% {
        transform: translateY(20vh);
    }
}
